:root {
  --font-normal:16px;
  --font-small:13px;

  --normal-weight:400;   /* Switch to 300 if you want thinner default text */
  --bold-weight:600;     /* Switch to 700 if you want thicker bold text */

  --border-width:1px;

  --text-title-h1: var(--text-normal);
}

.card-board {
  height: 100%;
}

.card-board-container {
  padding: 1em;
}

.card-board-title {
  font-weight: var(--bold-weight);
  font-size: var(--font-normal);
  margin-bottom: 1em;
}

.card-board-columns {
  display: grid;
  grid-auto-columns: minmax(272px, 1fr);
  grid-auto-flow: column;
  grid-gap: 1em;
  overflow-x: auto;
}

.card-board-column {
  padding: 1em;
  background-color: var(--background-secondary);
  border-radius: 3px;
  border: var(--border-width) solid var(--background-modifier-border);
}


.card-board-column-header {
  font-weight: var(--bold-weight);
  font-size: var(--font-normal);
  margin-bottom: 1em;
}

ul.card-board-column-list {
  display: grid;
  grid-gap: 0.5em;
  max-height: calc(100vh - 17em);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

ul.card-board-column-list > li.card-board-card::before {
  content: "";
}

.card-board-card.markdown-preview-view {
  border-radius: 3px;
  border: var(--border-width) solid var(--background-modifier-border);
  background-color: var(--background-primary);
  padding: 0;
  grid-column-gap: 0.25em;
  display: grid;
  grid: "mark contents"
        / 5px auto;
}

.card-board-card-highlight-area {
  grid-area: mark;
}

.card-board-card-highlight-area.critical {
  background-color: var(--text-error);
}

.card-board-card-highlight-area.good {
  background-color: var(--interactive-success);
}

.card-board-card-highlight-area.important {
  background-color: var(--text-accent);
}

.card-board-card-content-area {
  grid-area: contents;
  display: grid;
  padding: 0.5em;
  grid: "tags        tags"
        "checkbox    title"
        "subtasks    subtasks"
        "notes       notes"
        "footer      footer"
        / auto       minmax(0, 1fr);
}

.card-board-card-tag-area {
  grid-area: tags;
  font-size: var(--font-small);
  margin-bottom: 0.5em;
}

.card-board-card-tag {
  display: inline-block;
  margin-right: 0.3em;
}

.cm-s-obsidian div.card-board-card-tag > span.cm-hashtag {
    background-color: var(--background-secondary-alt);
    border: 1px solid var(--background-modifier-border);
    color: var(--text-muted);
    font-size: var(--font-adaptive-small);
    font-family: var(--font-ui);
    text-align: center;
    text-decoration: none;
    line-height: 1.5em;
    display: inline-block;
    margin: 2px 0;
    vertical-align: middle;
    padding-top: 1px;
    border-left: none;
    border-right: none;
    padding-bottom: 2px;
    cursor: text;
}

div.card-board-card-tag > span.cm-hashtag.cm-hashtag-begin {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 6px;
    border-right: none;
    border-left: 1px solid var(--background-modifier-border);
}

div.card-board-card-tag > span.cm-hashtag.cm-hashtag-end {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    padding-right: 6px;
    border-right: 1px solid var(--background-modifier-border);
}

.card-board-card.markdown-preview-view .task-list-item-checkbox {
  grid-area: checkbox;
  position: static;
  margin: 0;
  margin-right: 0.5em;
  margin-top: 0.25em;
  height: 1em;
  width: 1em;
}


/* fixes alignment of checkbox ticks on california coast theme */
.card-board-card-content-area > input[type="checkbox"]:checked:before {
  position:static;
}

.card-board-card-title {
  grid-area: title;
  font-weight: var(--bold-weight);
  font-size: var(--font-normal);
  display: -webkit-box;
  color: var(--text-title-h1);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-board-card-title p {
  display: inline;
}

.card-board-card-subtasks-area {
  grid-area: subtasks;
  font-size: var(--font-small);
  margin-top: 0.5em;
}

/* fixes an issue with themes showing border on the left of lists */
.card-board-card-subtasks-area > ul::before {
  border-style: none;
}

.card-board-card-subtask {
  display: grid;
  grid: "checkbox    title"
        / auto       minmax(0, 1fr);
}

.card-board-card-subtask .task-list-item-checkbox {
  font-size: var(--font-small);
}

.card-board-card-subtask .card-board-card-title {
  font-weight: var(--normal-weight);
  font-size: var(--font-small);
}

.card-board-card-notes-area {
  grid-area: notes;
  font-size: var(--font-small);
}

.card-board-card-notes-area > ul::before {
  border-style: none;
}

.card-board-card-footer-area {
  grid-area: footer;
  display: grid;
  grid: "due              actions"
        / minmax(0, 1fr)  auto;
  font-size: var(--font-small);
  margin-top: 0.5em;
}

.card-board-card-action-area-due {
  grid-area: due;
  color: var(--text-faint);
}

.card-board-card-action-area-buttons {
  grid-area: actions;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
}

.card-board-card-action-area-button {
  cursor: pointer;
}
