.card-board {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
}

.card-board-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 10px;
}

.card-board-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  min-width: 300px;
  max-width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #eee;
}

.card-board-column-header {
  padding: 10px;
  font-weight: bold;
  font-size: 0.875rem;
}

.card-board-column-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding: 10px 10px 0;
  list-style: none;
}

.xcard-board-card {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-board-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-board-card-content-area {
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.card-board-card-checkbox-area {
  grid-column-start: 1;
  grid-row-start: 1;
}

.card-board-card-checkbox-area input {
  width: 18px;
  height: 18px;
}

.card-board-card-body {
  grid-column-start: 2;
  grid-row-start: 1;
}

.card-board-card-action-area {
  grid-column-start: 1;
  grid-row-start: 2;
  margin-left: auto;
}

.card-board-card-action-area button {
  padding: 2px;
}
