.card-board {
}

.card-board-container {
  display: grid;
  height: 100vh;
  grid-auto-columns: 272px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow-x: scroll;
}

.card-board-column {
  max-height: 100vh;
  padding: 10px;
  background-color: #ccc;
  border-radius: 3px;
  overflow-y: scroll;
}


.card-board-column-header {
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

ul.card-board-column-list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.card-board-column-list > li.card-board-card::before {
  content: "";
}

.card-board-card {
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-board-card-content-area {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
}

.card-board-card-display-items {
  display: inline-grid;
  grid-auto-flow: row;
}

.card-board-card-title {
  font-size: var(--font-adaptive-normal);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-board-card-title p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-board-card-subtask-area {
  font-size: var(--font-adaptive-small);
  padding-left: 1em;
}

.card-board-card-subtask-area > ul > li {
  min-height: 1.2em;
  line-height: 1.2;
}

.card-board-card-subtask-area > ul > li > .card-board-card-subtask-title {
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.card-board-card-subtask-title p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-board-card-subtask-area > ul > li > input.task-list-item-checkbox {
  width: 15px;
  height: 15px;
  top: 0px;
}

.card-board-card-tag-area {
  font-size: var(--font-adaptive-small);
  border-top: 1px solid var(--background-modifier-border);
}

.card-board-card-tag > span.cm-hashtag {
  background-color: var(--background-secondary-alt);
}

.card-board-card-action-area {
  grid-column-start: 1;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  border-top: 1px solid var(--background-modifier-border);
}

.card-board-card-action-area-due {
  font-size: var(--font-adaptive-small);
  grid-column-start: 1;
}

.card-board-card-action-area-buttons {
  margin-left: auto;
  grid-column-start: 2;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  padding-right: 5px;
}

.card-board-card-action-area button {
  background-color: white;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
